* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

#app {
  width: 100%;
  height: 100%;
}

.vue-repl {
  height: 100%;
}

.demos-page {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  overflow: auto;
  &::after {
    display: block;
    content: '';
    clear: both;
  }
}


.clear-fix {
  &::after {
    display: block;
    content: '';
    clear: both;
  }
}